

{% extends "login_register_forget_layout.html" %}
{% block body %}
<!-- Header -->
<div class="header bg-gradient-primary py-6 py-lg-6 pt-lg-6">
  <div class="container">
    <div class="header-body text-center mb-4">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--6 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary border-0 mb-0">
        <div class="card-body px-lg-5 py-lg-5">
          <img class="d-block mx-auto" src="{{ url_for('static', filename='/img/brand/new-logo.png') }}">
          <h1 class="justify-content-center text-blue">Forget Password!</h1>
          <form role="form" method="GET" action="/login">
            <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text">
                </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Send Me Email</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}