
{% extends "layout.html" %}
{% block style %}

<style>
  .my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  box-shadow: inset 10px #32325D; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#32325D;
  /* background:#F6F9FC; */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #32325D; */
  /* background: #F6F9FC;  */
  background: #F2F3F9; 
}
</style>

{% endblock %}
{% block body %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Your Appointment(s)</h6>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <button type="button" class="btn btn-default">
            <span id="btn-appointment">Book New Appointment</span>

          </button>
        </div>
      </div>
      <!-- Card stats -->
    
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0"><i class="ni ni ni-bullet-list-67 "></i> Virtual Appointments</h3>
            
            </div>

          </div>
        </div>
        
        <div class="table-responsive text-nowrap table-wrapper-scroll-y my-custom-scrollbar">
          <!-- Projects table --> 
          <table class="table table-flush  align-items-center ">
            <thead class="thead-light">
              <tr>
                <th scope="col">Provider name</th>
                <th scope="col">Appointment Date Time</th>
                <th scope="col">Appointment For</th>
                
              </tr>
            </thead>
            <tbody>
              {% for appointment in appointments %}
              <tr>
                 <td scope="row">{{ appointment.provider_name }}</th>
                 <td>{{ appointment.appointment_date_time }}</td>
                 <td>{{ appointment.appointment_for }}</td>
              </tr>
             {% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Book New Appointment -->
    <div class="col-6">
      <div class="card appointment-booking-form">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0"><i class="ni ni-book-bookmark"></i> Book New Appointment </h3>
            
            </div>

          </div>
        </div>
        <form action="/book-apppointment" method="POST">
        <div class="modal-body">
          <div class="py-3 text-center">
            <div class="form-group mb-3">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-badge"></i></span>
                </div>
                <select class="form-control" name="provider_name">
                  <option disabled selected>Select Provider</option>
                  {% for provider in providers %}
                  <option>{{provider.first_name}} {{provider.first_name}} ({{provider.provider.serving_as}})</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group mt-3">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                  </div>
                  <input class="form-control" type="datetime-local" name="appointment_date_time">
                </div>
              </div>

              <div class="form-group mt-3">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-align-left-2"></i></span>
                  </div>
                  <textarea rows="4" class="form-control" placeholder="Write Your Problem Here..." name="appointment_for"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-white">Book</button>
          <button type="button" class="btn btn-neutral add-appointment">Close</button>
        </div>
      </form>

      </div>
    </div>
  </div>
<!-- Read More Modal -->

<div class="modal fade" id="modal-readmore" tabindex="-1" role="dialog" aria-labelledby="modal-readmore"
  aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-default">{{ current_user.patient.chronic_illness_name }} <small>{{ current_user.patient.chronic_illness_category }}</small></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <p id="data_notes_text"></p>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

</div>
{% endblock %}

{% block script %}


<script>
  $(document).ready(function () {
    $(".appointment-booking-form").css("display", "none");

      $("#modal-readmore").on("show.bs.modal", function (e) {
          var notes_text = $(e.relatedTarget).data('target-notes-text');
          $('#data_notes_text').text(notes_text);
          
      });

      $('#btn-appointment').click(function (e) { 
        e.preventDefault();
        $(".appointment-booking-form").css("display", "block");
      });

      $('.add-appointment').click(function (e) { 
        e.preventDefault();
        $(".appointment-booking-form").css("display", "none");
      });

  });


</script>
{% endblock %}